# See http://help.github.com/ignore-files/ for more about ignoring files.

# env variables
cypress.env.json
cypress.env.*.json
/cypress-prod.env.json

# output
/cypress/screenshots
/cypress/videos
/cypress/reports
/cypress/downloads
/ui-starter
nuclia.xml

# dependencies
node_modules
.venv

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Python
__pycache__
.egg-info
**/*.egg-info

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.python-version

# System Files
.DS_Store
Thumbs.db

.yarn
nua.xml
*summary.md
