mypy-extensions==1.0.0
mypy==1.15.0
nuclia>=4.8.1
pytest-timeout
pytest==8.3.4
ruff==0.8.1
backoff
aiohttp
pytest-asyncio-cooperative # not compatible with pytest-asyncio
pytest-shard
pytest-rerunfailures
types-aiofiles
prometheus-client
pyyaml
tabulate
