name: run-e2e-dev
run-name: Running Cypress e2e tests on Dev
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # Launch NucliaDB in docker
      - run: |
          docker network create nucliadb-network
          docker run -it -d --name pg --network nucliadb-network \
            -p 5432:5432 \
            -e POSTGRES_USER=nucliadb \
            -e POSTGRES_PASSWORD=nucliadb \
            -e POSTGRES_DB=nucliadb \
            postgres:latest
          docker pull nuclia/nucliadb:latest
          docker build -t nucliadb-server .
          docker run --network nucliadb-network \
              -p 8080:8080 \
              -v nucliadb-standalone:/data \
              -e NUCLIA_PUBLIC_URL="https://{zone}.gcp-global-dev-1.nuclia.io" \
              -e NUA_API_KEY=${{ secrets.NUA_KEY_DEV }} \
              -e NUA_ZONE=gcp-dev-1 \
              -e DRIVER=PG \
              -e DRIVER_PG_URL="postgresql://nucliadb:nucliadb@pg:5432/nucliadb" \
              nucliadb-server &
      # Install npm dependencies, cache them correctly and run all Cypress tests
      - name: Cypress run
        id: cypress
        uses: cypress-io/github-action@v6
        with:
          install-command: yarn install
        env:
          CYPRESS_BASE_URL: https://gcp-global-dev-1.nuclia.io
          CYPRESS_BEARER_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN_DEV }}
          CYPRESS_NUA_KEY: ${{ secrets.NUA_KEY_DEV }}
          CYPRESS_USER_NAME: ${{ secrets.USER_NAME_DEV }}
          CYPRESS_USER_PWD: ${{ secrets.USER_PWD_DEV }}
          CYPRESS_RUNNING_ENV: dev
        # after the test run completes store reports and any screenshots
      - name: Cypress reports
        id: report
        uses: actions/upload-artifact@v4
        if: ${{ failure() && steps.cypress.conclusion == 'failure' }}
        with:
          name: cypress-reports
          path: cypress/reports
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
      - name: Slack notification
        id: slack
        uses: slackapi/slack-github-action@v2.1.1
        if: ${{ failure() && steps.cypress.conclusion == 'failure' && github.ref_name == 'main' }}
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.SLACK_HOOK_URL }}
          payload: |
            {
              "text": "⚠️ Cypress E2E failed on Dev\nTriggered by ${{ github.triggering_actor }} \nRun #${{ github.run_number }}: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}\nCypress report: ${{ steps.report.outputs.artifact-url }}"
            }
